APScheduler==3.6.3
backports.zoneinfo==0.2.1
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cryptography==35.0.0
cssselect2==0.4.1
et-xmlfile==1.1.0
google-api-core==2.2.2
google-api-python-client==2.31.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-oauth==1.0.1
googleapis-common-protos==1.53.0
httplib2==0.20.2
idna==3.3
lxml==4.6.4
oauthlib==3.1.1
openpyxl==3.0.9
Pillow==8.4.0
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.6
PyPDF2==1.26.0
pyTelegramBotAPI==4.2.0
python-dateutil==2.8.2
python-dotenv==0.19.1
python-telegram-bot==13.8.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
reportlab==3.6.2
requests==2.26.0
rsa==4.7.2
six==1.16.0
svglib==1.1.0
tinycss2==1.1.0
tornado==6.1
tzdata==2021.5
tzlocal==4.1
uritemplate==4.1.1
urllib3==1.26.7
webencodings==0.5.1
